.all-content {
 display: flex;
 flex-direction: row;
 justify-content: center;
 height: 100vh;
 width: 100vw;
}

.content {
 display: flex;
 height: 100vw;
}

.header {
 display: flex;
 justify-content: flex-end;
 height: 100vw;
 width: 70px;
 padding-right: 10px;
}

.main-content {
 flex-direction: column;
 display: flex;
 width: 550px;
 height: 100vw;
}

.nav-top {
 display: flex;
 align-items: center;
 justify-content: space-between;
 position: fixed;
 width: 550px;
 height: 50px;
 background-color: var(--light-clay);
 z-index: 1;
 opacity: 0.9;
}

.logo {
 margin: 20px;
}

.tweets {
 padding: 50px 0;
 border-left: solid 0.5px;
 border-right: solid 0.5px;
 border-color: var(--grey-white);
}

.comments {
 display: flex;
 align-items: flex-start;
 justify-content: flex-start;
 height: 100vh;
}